<!doctype html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width-device-width, initial-scale-1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="/src/styles.css">
</head>
<body>
    <div class="formulario">
        <h1>Inicia Sesión</h1>
        <form method="post">
            <div *ngIf="error">
                <div class="alert alert-danger" role="alert">
                    Usuario o contraseña incorrecto
                </div>
            </div>
            <div class="username">
                <label for="staticEmail" class="col-lg-3 col-form-label">usuario@correo.com</label>
                <input #usuario type="text" class="form-control">
            </div>
            <div class="username">
                <label for="inputPassword" class="col-lg-3 col-form-label">Contraseña</label>
                <input #contrasena type="password" class="form-control">
            </div>
            <div class="enviar">
                <button (click)="onLogInUsuario(usuario.value, contrasena.value)" type="button" class="btn btn-primary col-8">Ingresar</button>
            </div>
            <div class="inicio">
                <p>¿No tienes cuenta? <a href="/signup">Registrate</a></p>
            </div>
        </form>
    </div>
</body>
