<nav>
  <div class="image-side-bar flex justify-content-center">
    <img src="assets/img/peeling.png" alt="">
  </div>
  <ul>
    <li class="flex align-items-center"><img src="assets/img/reporte.png" alt=""><a routerLink="/home-in">Inicio</a></li>
    <li class="flex align-items-center"><img src="assets/img/reporte.png" alt=""><a routerLink="/home-in">Diagnostico</a></li>
    <li class="flex align-items-center"><img src="assets/img/reporte.png" alt=""><a routerLink="/home-in">Agenda</a></li>
    <li class="flex align-items-center"><img src="assets/img/reporte.png" alt=""><a routerLink="/home-in">Reportes</a></li>
    <li class="flex align-items-center"><img src="assets/img/reporte.png" alt=""><a routerLink="crear-perfil">Perfil</a></li>
  </ul>
</nav>
