<nav>
  <div class="image-side-bar flex justify-content-center">
    <img src="assets/img/peeling.svg" alt="">
  </div>
  <ul>
    <li class="flex align-items-center"><img src="assets/img/reporte-menu.svg" alt=""><a routerLink="/home-in">Inicio</a></li>
    <li class="flex align-items-center"><img src="assets/img/diagnostico-menu.svg" alt=""><a routerLink="/home-in">Diagnostico</a></li>
    <li class="flex align-items-center"><img src="assets/img/calendario-menu.svg" alt=""><a routerLink="/home-in">Agenda</a></li>
    <li class="flex align-items-center"><img src="assets/img/reporte-menu.svg" alt=""><a routerLink="/home-in">Reportes</a></li>
  </ul>
</nav>
