<nav>
  <div class="image-side-bar flex justify-content-center">
    <a href="/home-in">
    <img src="assets/img/peeling.svg" alt="">
    </a>
  </div>
  <ul>
    <li class="flex align-items-center" routerLink="/home-in/diagnosticos/tipo-lesion">
      <img src="assets/img/diagnostico-menu.svg" alt="">
      <a>Diagnóstico</a>
    </li>
    <li class="flex align-items-center" routerLink="/home-in">
      <img src="assets/img/calendario-menu.svg" alt="">
      <a>Agenda</a>
    </li>
    <li class="flex align-items-center" routerLink="/home-in/reportes/tipos-reporte">
      <img src="assets/img/reporte-menu.svg" alt="">
      <a>Reportes</a>
    </li>
  </ul>
</nav>
