<div class="wrapper">
  <p>Por favor diligencia los siguientes datos:</p>
</div>
<div class="wrapper">
  <form [formGroup]="formCrearPerfil" (ngSubmit)="guardar()" autocomplete="off">
    <div class="wrapper-control">
      <img src="assets/img/profile-icon.svg" alt=""><input id="nombre" type="text" formControlName="nombre" placeholder="Nombre y Apellido">
    </div>
    <div class="wrapper-control">
      <img src="assets/img/edad.svg" alt=""><input id="edad" type="number" min="18" formControlName="edad" placeholder="Edad">
    </div>
    <div class="wrapper-control">
      <img src="assets/img/ubicacion.svg" alt=""><select id="pais" formControlName="pais" aria-placeholder="Pais">
        <option value="1">Colombia</option>
        <option value="2">Mexico</option>
        <option value="3">Chile</option>
      </select>
    </div>
    <div class="wrapper-control">
      <img src="assets/img/ubicacion.svg" alt=""><input id="ciudad" type="text" formControlName="ciudad" placeholder="Ciudad o municipio">
    </div>
    <div class="flex justify-content-center">
    <button type="submit" name="submit" value="enviar">Confirmar cambios</button>
  </div>
  </form>
</div>

<div class="background">
  <footer class="wrapper flex justify-content-between">
    <img src="assets/img/cuaderno.svg" alt="">
    <img src="assets/img/analisis.svg" alt="">
    <img src="assets/img/archivo.svg" alt="">
  </footer>
</div>
