<div class="contenedor-lista-historias">
  <div class="flex justify-content-between align-items-center">
    <div>
      <h2 class="titulo">Historia pacientes</h2>
    </div>
    <div>
      <button type="submit" class="btn btn-primary">Buscar</button>
    </div>
  </div>
  <div class="mostrar-lista-historias">
    <div class="tablas">
      <div class="contenedor-tabla">
        <div class="tabla-detalles">
          <div class="fila">
            <div class="celda-campo">Identificación:</div>
            <div class="celda-dato-busqueda">
              <input type="text" id="identificacion" placeholder="Ingresa identificación">
            </div>
          </div>
        </div>
        <div class="tabla-detalles">
          <div class="fila">
            <div class="celda-campo">Nombre:</div>
            <div class="celda-dato-busqueda">
              <input type="text" id="nombre" placeholder="Ingresa infromación">
            </div>
          </div>
        </div>
        <div class="tabla-detalles">
          <div class="fila">
            <div class="celda-campo">Edad:</div>
            <div class="celda-dato-busqueda">
              <input type="text" id="edad" placeholder="Selecciona rango">
            </div>
          </div>
        </div>
        <div class="tabla-detalles">
          <div class="fila">
            <div class="celda-campo">Fecha Registro:</div>
            <div class="celda-dato-busqueda">
              <input type="text" id="fechaRegistro" placeholder="Selecciona rango">
            </div>
          </div>
        </div>
      </div>
      <div class="seccion-imagen-lesion">
        <h3>Observar lesión:</h3>
        <div class="contenedor-tabla">
          <div class="tabla-detalles">
            <div class="fila">
              <div class="celda-campo">Nombre:</div>
              <div class="celda-dato">Juan</div>
            </div>
            <div class="fila">
              <div class="celda-campo">Edad</div>
              <div class="celda-dato">23</div>
            </div>
            <div class="fila">
              <div class="celda-campo">Ubicacion</div>
              <div class="celda-dato">Medellín</div>
            </div>
            <div class="fila">
              <div class="celda-campo">Fecha Registro</div>
              <div class="celda-dato">23-01-2023</div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
