<div class="mr-container">
  <div class="header">
    <div class="title">
      Historia pacientes
    </div>
    <div>
      <!-- <button type="submit" class="btn btn-primary btn-search">Buscar</button> -->
    </div>
  </div>

  <div class="body-container">

    <div class="subtitle">
      Filtrar por:
    </div>
    <div class="filter-options-container">

      <div class="filter-option">
        <div class="row">
          <div class="fieldname">Nombre:</div>
          <div>
            <input type="text" id="search-name" class="fieldvalue" [ngModel]="searchText"
            (ngModelChange)="filterByName($event)">
          </div>
        </div>
        <div class="row">
          <div class="fieldname">Fecha registro:</div>
          <div class="fieldvalue">
            <input type="date" id="search-date" [ngModel]="searchDate"
            (ngModelChange)="filterByDate($event)">
          </div>
        </div>
        <div class="row">
        </div>
        <div class="row">
          <button type="button" class="btn-clean-search" (click)="cleanSearch()">Limpiar</button>
        </div>
      </div>

    </div>

    <div class="subtitle">
      Listado:
    </div>

    <div class="table-container">
      <table class="table" style="border-spacing: 0 10px 0 0;">
        <thead class="table__header">
          <tr class="table__row">
            <th class="table__th">Nombre</th>
            <th class="table__th">Edad</th>
            <th class="table__th">Ubicación</th>
            <th class="table__th">Fecha Registro</th>
          </tr>
        </thead>
        <tbody>
          <tr class="table__row" *ngFor="let patient of patientsRegisteredFiltered" (click)="goToDiagnostic(patient)">
            <td class="table__cell">
              {{patient.nombre}}
            </td>
            <td class="table__cell">
              {{patient.edad}}
            </td>
            <td class="table__cell">
              {{patient.ciudad}}
            </td>
            <td class="table__cell">
              {{patient.created_at}}
            </td>
          </tr>
        </tbody>
      </table>
      <div *ngIf="patientsRegisteredFiltered && patientsRegisteredFiltered.length === 0">
        <div>No hay Pacientes que hayan reportado lesión.</div>
      </div>

    </div>

  </div>

</div>
