<main class="background">
  <h2 class="text-tratamiento">
    Selecciona el tipo de reporte que deseas generar:
  </h2>
  <div class="grid align-items-center h-full">
    <div class="col-4 flex contenedor-reportes">
      <div class="grid image-home">
        <div class="col flex justify-content-center">
          <div class="image-container">
            <img src="assets/img/agendaReportes.svg" alt="">
            <h4>Agenda</h4>
          </div>
        </div>
        <div class="col flex justify-content-center">
          <div class="image-container">
            <img src="assets/img/pacientesReportes.svg" alt="">
            <h4>Pacientes</h4>
          </div>
        </div>
        <div class="col flex justify-content-around">
          <div class="image-container">
            <img src="assets/img/historiaReportes.svg" alt="" routerLink="/home-in/reportes/tipos-reporte/historia-clinica">
            <h4>Historia</h4>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
