:host {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
}

main {
  padding: 40px;
}

.background {
  display: grid;
  gap: 20px;
  align-items: center;
}

.contenedor-reportes{
  width: 100%;
  flex: auto;
  justify-content: space-between;
  align-items: center;
}

.text-titulo {
  color: #042E5C;
  font-weight: bold;
  font-style: italic;
}

.image-home{
  width: 100%;
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
  cursor: pointer;
}

.image-home img {
  max-width: 185px;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.titulo{
  color: #096FDB;
  font-style: italic;
  font-weight: bold;
}

