header {
  border-bottom: 3px solid #bf920a;
  padding: 10px 20px;
  height: 65px;
}

h2 {
  color: #042e5c;
  text-align: center;
}

.image-profile{
  position: relative;
  height: 60px;
}

.image-profile img {
  width: 100%;
  max-width: 40px;
  cursor: pointer;
}

.menu{
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: white;
  font-size: 14px;
  width: 100px;
  transform: translate(-50px, 90%);
  display: none;
}

.menu ul{
  margin: 0;
  padding: 0;
}

.menu li{
  list-style: none;
  padding: 4px 8px 4px 4px;
  font-size: 12px;
  background-color: #9AABBE;
  color: white;
  cursor: pointer;
}

.menu li:hover{
  background-color: #4D94E1;
}

.image-profile:hover .menu{
  display: block;
}
