<div class="lista-casos">
  <h2 class="titulo">Casos {{injuryTypeParam}}:</h2>
  <div class="casos">
    <div class="caso cursor-pointer" *ngFor="let injury of injuryListFiltered" (click)="injuryDetail(injury)">
      <img [src]="medicalRecordService.checkInjuryImage(injury.foto_de_lesion)" alt="imagen" class="caso-imagen">
      <span class="caso-nombre">{{injury.distribucion}}</span>
      <span class="caso-descripcion cursor-pointer">{{injury.forma_de_lesion}}</span>
    </div>
    <div *ngIf="injuryListFiltered && injuryListFiltered.length === 0">
      <div>No hay casos reportados para este tipo de lesión.</div>
    </div>
  </div>
</div>
