:host {
  display: grid;
  height: 100%;
  grid-template-rows: auto 1fr auto;
}

.background {
  background: rgb(0, 212, 255);
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(9, 13, 121, 1) 95%,
    rgba(2, 0, 36, 1) 100%
  );
}

img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

.image-home img {
  max-width: 185px;
}

.image-probar-ahora img {
  max-width: 280px;
}

.image-tratamiento img {
  max-width: 150px;
}

.text-tratamiento {
  font-size: 31px;
  color: white;
  font-weight: 700;
}

main,
footer {
  padding: 0 36px;
}

.text-footer {
  font-size: 32px;
  color: #042e5c;
  font-weight: 700;
  margin: 0;
}

footer {
  margin-top: 25px;
}

.image-google-store img {
  width: 220px;
}

.image-apple-store img {
  height: 64px;
  width: 220px;
}

.image-social-networks img {
  max-width: 25px;
}

.image-logo-dermo img {
  max-width: 150px;
}

.image-dermo-rights img {
  max-width: 150px;
}
