<div class="detalle-caso">
  <div class="flex justify-content-between align-content-center">
      <h2 class="titulo">Caso 6: Detalles de la lesión</h2>
      <button class="btn btn-primary" (click)="getDetalleCaso(correoElectronico)">Generar diagnostico</button>
  </div>
  <div class="mostrar-detalle-caso">
    <div *ngIf="detalleCaso">
      <div class="tabla-detalles">
        <div class="fila">
          <div class="celda-campo"><strong>Correo electrónico:</strong></div>
          <div class="celda-dato">{{ detalleCaso.correo_electronico }}</div>
        </div>
        <div class="fila">
          <div class="celda-campo"><strong>Tipo de lesión:</strong></div>
          <div class="celda-dato">{{ detalleCaso.tipo_de_lesion }}</div>
        </div>
        <div class="fila">
          <div class="celda-campo"><strong>Forma de lesión:</strong></div>
          <div class="celda-dato">{{ detalleCaso.forma_de_lesion }}</div>
        </div>
        <div class="fila">
          <div class="celda-campo"><strong>Número de lesiones:</strong></div>
          <div class="celda-dato">{{ detalleCaso.numero_de_lesiones }}</div>
        </div>
        <div class="fila">
          <div class="celda-campo"><strong>Distribución:</strong></div>
          <div class="celda-dato">{{ detalleCaso.distribucion }}</div>
        </div>
      </div>
      <img [src]="detalleCaso.foto_de_lesion">
    </div>
  </div>
</div>
<div class="wrapper">
</div>
<div class="background">
  <footer class="wrapper flex justify-content-between">
    <img src="assets/img/cuaderno.svg" alt="">
    <img src="assets/img/analisis.svg" alt="">
    <img src="assets/img/archivo.svg" alt="">
  </footer>
</div>
