:host {
  display: flex;
  flex-direction: column;
  height: calc(100% - 65px);
}

.detalle-caso {
  padding: 20px;
}

.detalle-caso .titulo {
  margin-top: 0;
  margin-bottom: 5px;
  color: #042E5C;
  font-weight: bold;
  font-style: italic;
  font-size: 28px;
}

.detalle-caso .mostrar-detalle-caso {
  margin: 0;
}


button {
  width: 200px;
  margin: 0;
  background-color: #096fdb;
  color: white;
  height: 30px;
  padding: 0;
  border: 0;
  border-radius: 13px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

button.btn-secondary {
  width: 200px;
  margin: 0;
  background-color: white;
  color: black;
  height: 30px;
  padding: 0;
  border: 2px solid black;
  border-radius: 13px;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
}

.wrapper {
  max-width: 700px;
  margin: 0 auto;
  width: 100%;
}

div.wrapper {
  flex-grow: 1;
}

.mostrar-detalle-caso {
  margin: 0 auto;
  background-color: #F2F4F7;
  padding: 20px;
  border: 2px solid #042E5C;
  border-radius: 10px;
}

.contenedor-tabla {
  display: flex;
  align-items: center;
  padding: 15px;
  background: #E6EAEF;
  border: 2px solid #A4B3C4;
  border-radius: 10px;
}

.tabla-detalles {
  width: 100%;
  display: table;
}

.tablas {
  display: grid;
  grid-template-columns: auto auto;
  gap: 100px;
}

.fila {
  display: table-row;
}

.celda:first-child {
  font-weight: bold;
  background-color: #f2f2f2;
  max-width: 150px;
}

.celda-campo {
  display: table-cell;
  padding: 5px;
  width: 300px;
  border: 1px solid #ccc;
  background: #D8DEE6;
  font-size: 12px;
  font-weight: normal;
  color: #096FDB;
  min-width: 150px;
  max-width: 150px;
}

.celda-dato {
  display: table-cell;
  padding: 5px;
  border: 1px solid #ccc;
  background: white;
  font-size: 12px;
  font-weight: normal;
  color: #096FDB;
  min-width: 150px;
  max-width: 150px;
}

.background {
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.4);
}

.seccion-imagen-lesion {
  margin-top: 15px;
}

.seccion-imagen-lesion h3 {
  margin: 0;
  font-weight: normal;
  font-size: 18px;
  color: #042E5C;
}

.seccion-imagen-lesion .contenedor-imagen {
  padding: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #E6EAEF;
  border: 2px solid #A4B3C4;
  border-radius: 10px;
}

.seccion-diagnostico {
  margin-top: 20px;
  margin-bottom: 10px;
  font-weight: normal;
  font-size: 18px;
  color: #042E5C;
}


.contenedor-tabla-diagnostico {
  display: flex;
  align-items: center;
  padding: 15px;
  background: #E6EAEF;
  border: 2px solid #A4B3C4;
  border-radius: 10px;
}

.tabla-detalles-diagnostico {
  width: 100%;
  display: table;
}

.fila-diagnostico {
  display: table-row;
}

.celda-diagnostico:first-child {
  font-weight: bold;
  background-color: #f2f2f2;
  max-width: 150px;
}

.celda-campo-diagnostico {
  display: table-cell;
  padding: 5px;
  vertical-align: middle;
  width: 300px;
  border: 1px solid #ccc;
  background: #D8DEE6;
  font-size: 12px;
  font-weight: normal;
  color: #096FDB;
  min-width: 150px;
  max-width: 150px;
}

.celda-dato-diagnostico {
  display: table-cell;
  padding: 5px;
  border: 1px solid #ccc;
  background: white;
  font-size: 12px;
  font-weight: normal;
  color: #096FDB;
  min-width: 150px;
  max-width: 150px;
}

.celda-dato-diagnostico input[type=text] {
  border: none;
  outline: none;
  width: 100%;
  color: #096FDB;
}

.texto-recomendacion {
  border: none;
  outline: none;
  width: 100%;
  color: #096FDB;
}

footer img {
  width: 100%;
  max-width: 35px;
  opacity: 0.8;
}
