<div class="detalle-caso">
  <div class="flex justify-content-between align-items-center">
    <h2 class="titulo">Caso 6: Detalles de la lesión</h2>
    <button class="btn btn-primary">Generar diagnostico</button>
  </div>
  <div class="mostrar-detalle-caso">
    <div *ngIf="injuryDetail">
      <div class="tablas">
        <div class="contenedor-tabla">
          <div class="tabla-detalles">
            <div class="fila">
              <div class="celda-campo">Correo electrónico:</div>
              <div class="celda-dato">{{ injuryDetail.correo_electronico }}</div>
            </div>
            <div class="fila">
              <div class="celda-campo">Nombre:</div>
              <div class="celda-dato">{{ injuryDetail.nombre }}</div>
            </div>
            <div class="fila">
              <div class="celda-campo">Edad:</div>
              <div class="celda-dato">{{ injuryDetail.edad }}</div>
            </div>
            <div class="fila">
              <div class="celda-campo">Ciudad:</div>
              <div class="celda-dato">{{ injuryDetail.ciudad }}</div>
            </div>
            <div class="fila">
              <div class="celda-campo">Tipo Piel:</div>
              <div class="celda-dato">{{ injuryDetail.tipo_de_piel }}</div>
            </div>
          </div>
        </div>
        <div class="contenedor-tabla">
          <div class="tabla-detalles">
            <div class="fila">
              <div class="celda-campo">Tipo de lesión:</div>
              <div class="celda-dato">{{ injuryDetail.lesiones[0].tipo_de_lesion }}</div>
            </div>
            <div class="fila">
              <div class="celda-campo">Forma de lesión:</div>
              <div class="celda-dato">{{ injuryDetail.lesiones[0].forma_de_lesion }}</div>
            </div>
            <div class="fila">
              <div class="celda-campo">Número de lesiones:</div>
              <div class="celda-dato">{{ injuryDetail.lesiones[0].numero_de_lesiones }}</div>
            </div>
            <div class="fila">
              <div class="celda-campo">Distribución:</div>
              <div class="celda-dato">{{ injuryDetail.lesiones[0].distribucion }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="seccion-imagen-lesion">
        <h3>Observar lesión:</h3>
        <div class="contenedor-imagen">
          <img [src]="medicalRecordService.checkInjuryImage(injuryDetail.lesiones[0].foto_de_lesion)">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="wrapper">
</div>
<div class="background">
  <footer class="wrapper flex justify-content-between">
    <img src="assets/img/cuaderno.svg" alt="">
    <img src="assets/img/analisis.svg" alt="">
    <img src="assets/img/archivo.svg" alt="">
  </footer>
</div>
