<div class="detalle-caso">
  <div class="flex justify-content-between align-items-center">
    <h2 class="titulo">Caso 6: Detalles de la lesión</h2>
    <div>
      <button class="btn btn-secondary" (click)="showForm = false" *ngIf="showForm">Cancelar diagnostico</button>
      <button class="ml-4 btn-primary" (click)="showDiagnosticForm()" *ngIf="!showForm">Generar diagnostico</button>
    </div>
  </div>
  <div class="mostrar-detalle-caso">
    <div *ngIf="injuryDetail">
      <div class="tablas">
        <div class="contenedor-tabla">
          <div class="tabla-detalles">
            <div class="fila">
              <div class="celda-campo">Correo electrónico:</div>
              <div class="celda-dato">{{ injuryDetail.correo_electronico }}</div>
            </div>
            <div class="fila">
              <div class="celda-campo">Nombre:</div>
              <div class="celda-dato">{{ injuryDetail.nombre }}</div>
            </div>
            <div class="fila">
              <div class="celda-campo">Edad:</div>
              <div class="celda-dato">{{ injuryDetail.edad }}</div>
            </div>
            <div class="fila">
              <div class="celda-campo">Ciudad:</div>
              <div class="celda-dato">{{ injuryDetail.ciudad }}</div>
            </div>
            <div class="fila">
              <div class="celda-campo">Tipo Piel:</div>
              <div class="celda-dato">{{ injuryDetail.tipo_de_piel }}</div>
            </div>
          </div>
        </div>
        <div class="contenedor-tabla">
          <div class="tabla-detalles">
            <div class="fila">
              <div class="celda-campo">Tipo de lesión:</div>
              <div class="celda-dato">{{ injuryDetail.lesiones[0].tipo_de_lesion }}</div>
            </div>
            <div class="fila">
              <div class="celda-campo">Forma de lesión:</div>
              <div class="celda-dato">{{ injuryDetail.lesiones[0].forma_de_lesion }}</div>
            </div>
            <div class="fila">
              <div class="celda-campo">Número de lesiones:</div>
              <div class="celda-dato">{{ injuryDetail.lesiones[0].numero_de_lesiones }}</div>
            </div>
            <div class="fila">
              <div class="celda-campo">Distribución:</div>
              <div class="celda-dato">{{ injuryDetail.lesiones[0].distribucion }}</div>
            </div>
          </div>
        </div>
      </div>
      <div class="seccion-imagen-lesion">
        <h3>Observar lesión:</h3>
        <div class="contenedor-imagen">
          <img [src]="medicalRecordService.checkInjuryImage(injuryDetail.lesiones[0].foto_de_lesion)">
        </div>
      </div>
    </div>
    <ng-container *ngIf="showForm">
      <div class="flex justify-content-between align-items-center">
        <h3 class="seccion-diagnostico">Diagnóstico:</h3>
        <button class="btn btn-primary">Enviar diagnóstico</button>
      </div>
      <div class="contenedor-diagnostico" id="contenedorDiagnostico">
        <div class="contenedor-tabla-diagnostico">
          <div class="tabla-detalles-diagnostico">
            <div class="fila-diagnostico">
              <div class="celda-campo-diagnostico">
                <label for="afeccion">Afección:</label>
              </div>
              <div class="celda-dato-diagnostico">
                <input type="text" id="afeccion">
              </div>
            </div>
            <div class="fila-diagnostico">
              <div class="celda-campo-diagnostico">
                <label for="grado">Grado:</label>
              </div>
              <div class="celda-dato-diagnostico">
                <input type="text" id="grado">
              </div>
            </div>
            <div class="fila-diagnostico">
              <div class="celda-campo-diagnostico">
                <label>Requiere tratamiento:</label>
              </div>
              <div class="celda-dato-diagnostico">
                <input type="radio" name="tratamiento" id="si">
                <label for="si">Si</label>
                <input type="radio" name="tratamiento" id="no">
                <label for="no">No</label>
              </div>
            </div>
            <div class="fila-diagnostico">
              <div class="celda-campo-diagnostico">
                <label for="duracion">Duración</label>
              </div>
              <div class="celda-dato-diagnostico">
                <input type="text" id="duracion">
              </div>
            </div>
            <div class="fila-diagnostico">
              <div class="celda-campo-diagnostico">
                <label for="medicacion">Medicación:</label>
              </div>
              <div class="celda-dato-diagnostico">
                <input type="text" id="medicacion">
              </div>
            </div>
            <div class="fila-diagnostico">
              <div class="celda-campo-diagnostico">
                <label for="recomendacion">Recomendaciones:</label>
              </div>
              <div class="celda-dato-diagnostico">
                <textarea class="texto-recomendacion" id="recomendacion"></textarea>
              </div>
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
<div class="background">
  <footer class="wrapper flex justify-content-between">
    <img src="assets/img/cuaderno.svg" alt="">
    <img src="assets/img/analisis.svg" alt="">
    <img src="assets/img/archivo.svg" alt="">
  </footer>
</div>
